
.grid-header {
  display:grid;
  grid-template-columns: 1fr 5fr; 
  background-color: var(--surface-color);
  height: 100%;
  align-items: center;
  border-color: var( --border-color);
  border-radius: 15px 50px; 
  border-style: solid;
  border-width: 10px; 
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;

}

.flex-navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  color : var(--text-color);
  font-family: var(--font-family);
}