


li, a, button {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: var(--primary-color);
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px; 
    padding-top: 35px;
    padding-left: 50px;
    padding-right: 50px;
    height: 64px;
    max-height: 64px;
    overflow: hidden;
    box-sizing: border-box;  
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
;  
}

.logo {
    cursor: pointer;
    margin-right: auto;
    width: auto;
    height: 100px;   
}

.nav_box{
    flex-grow: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav_links {
    list-style: none;


}
.nav_links li {
    display: inline-block; 
    margin: 0 20px;
   
}

.nav_links li a {
    transition: all 0.3s ease 0s;;
}

.nav_links li a:hover {
    color: #0088a9;
}
button {
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.demo button {
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    font-size: medium;
    font-weight: normal;
    padding: 10px;
    border:#ccc solid 2px;
   
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}
.free_trial button:hover{
    background-color: rgba(0, 136, 169, 1);
    
}
 .signup {
    list-style-type: none;
     padding-right: 5px;
 }


 /* Extra small devices (phones) */
@media (max-width: 480px) {
    .header {
        overflow: hidden;
        background-color: #333;
        position: relative;
        
     }

     .header #nav_box  {
        display: none;
     }

     .header #signup  {
        display: none;
     }
     .header #demo  {
        display: none;
     }

    
    




}

/* Small devices (phones + foldables) */
@media (max-width: 600px) {  }

/* Medium devices (tablets) */
@media (max-width: 768px) { }

/* Large tablets / small laptops */
@media (max-width: 1024px) { }

 




