
    <header>
       <img class="logo" src="assets/logos/Bakame_whiteblack.png" alt="BakaMe Logo">
       <nav class="nav_box"> 
            <ul class="nav_links">  
                <li><a routerLink="/about" routerLinkActive="active">About</a></li>
                <li><a routerLink="/contact" routerLinkActive="active">Product</a></li>
                <li><a routerLink="/contact" routerLinkActive="active">Pricing</a></li>
                <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
            </ul>
       </nav>
      
       <li class="signup"><a routerLink="/signup" routerLinkActive="active" class="button-link">Sign Up</a></li>
       <a class="demo" href="#"><button>Request Demo</button></a>
      
    </header>
