
    <header>
       <img class="logo" src="favicon.ico" alt="BakaMe Logo">
       <nav> 
            <ul class="nav_links">  
                <li><a routerLink="/about" routerLinkActive="active">About</a></li>
                <li><a routerLink="/contact" routerLinkActive="active">Product</a></li>
                <li><a routerLink="/contact" routerLinkActive="active">Pricing</a></li>
                <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
            </ul>
       </nav>
       <a class="log_in" href="#"><button>Log In</button></a>
       <a class="free_trial" href="#"><button>Start Free Trial</button></a>
      
    </header>
