
<div class="page1">  
    <!-- <app-vantabackground> </app-vantabackground> -->
    <div class="landing-page-container">

        <h1 class="title">Your AI Hotline for Instant Answers</h1>
        <p class="subtitle">Bakame AI gives your business a dedicated number where clients and employees get instant answers—cutting distractions, boosting productivity, and freeing your team to focus on growth.
            </p>

        <button class="demo" routerLink="#">Request Demo</button>

    </div>
</div>


