<div class="logos">

    <div class="logo-slide">

        <img src="favicon.ico" alt="Logo 1" class="logo-image">
        <img src="favicon.ico" alt="Logo 1" class="logo-image">
        <img src="favicon.ico" alt="Logo 1" class="logo-image">
        <img src="favicon.ico" alt="Logo 1" class="logo-image">
        <img src="favicon.ico" alt="Logo 1" class="logo-image">
        <img src="favicon.ico" alt="Logo 1" class="logo-image">
        <img src="favicon.ico" alt="Logo 1" class="logo-image">
        <img src="favicon.ico" alt="Logo 1" class="logo-image">
                
    </div>


</div>