<div class="logos">
    <div class="logo_slide">
        <img src="favicon.ico" alt="Logo 1" class="logo-image">
        <img src="favicon.ico" alt="Logo 1" class="logo-image">
        <img src="favicon.ico" alt="Logo 1" class="logo-image">
        <img src="favicon.ico" alt="Logo 1" class="logo-image">
        <img src="favicon.ico" alt="Logo 1" class="logo-image">
        <img src="favicon.ico" alt="Logo 1" class="logo-image">
        <img src="favicon.ico" alt="Logo 1" class="logo-image">
       

            
    </div>
     <div class="logo_slide">
        <img src="favicon.ico" alt="Logo 1" class="logo-image">
        <img src="favicon.ico" alt="Logo 1" class="logo-image">
        <img src="favicon.ico" alt="Logo 1" class="logo-image">
        <img src="favicon.ico" alt="Logo 1" class="logo-image">
        <img src="favicon.ico" alt="Logo 1" class="logo-image">
        <img src="favicon.ico" alt="Logo 1" class="logo-image">
        <img src="favicon.ico" alt="Logo 1" class="logo-image">
       

            
    </div>

</div>