<div class="logos">
    <div class="logo_slide">
        <img src="favicon.ico" alt="Logo 1"  width=100 height=100 class="logo-image">
        <img src="assets/logos/bakame.jpeg" alt="Logo 1"  width=100 height=100 class="logo-image">
        <img src="assets/logos/chatgpt.webp" alt="Logo 1"  width=100 height=100 class="logo-image">
        <img src="assets/logos/dell.png" alt="Logo 1"  width=70 height=100 class="logo-image">
        <img src="assets/logos/irembo.svg" alt="Logo 1"  width=100 height=100 class="logo-image">
        <img src="assets/logos/tcu.jpg" alt="Logo 1"  width=100 height=100 class="logo-image">
        <img src="assets/logos/microsoft.jpeg" alt="Logo 1"  width=100 height=100 class="logo-image">
     
    </div>
    

</div>