* {
    margin: 0;
    padding: 0
}

.layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "navbar"
    "main"
    "footer";
    height: 100dvh;
    overflow-y: auto; 
   
}

.navbar {
    position: sticky;
    top:0;
    grid-area: navbar ;
    background-color: white;
    padding: 1em; 
    margin-top: 0px;
}
.main {
    grid-area: main;
    padding: 2;
     
}
.footer {
    grid-area: footer;
    background-color: white;
    padding: 1em;

}
