


.layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "navbar"
        "main"
        "footer";
    height: 100vh;
    width: 100%;
    overflow-y: auto; 
    
}

.navbar {
    position: sticky;
    top: 0;
    grid-area: navbar;
    background-color: white;
    height: 10%;
}

.main {
    grid-area: main;
    height: 80%;
}

.footer {
    grid-area: footer;
    background-color: white;
    height: 10%;
}

@media (max-width: 600px) {
    .navbar {
        height: auto;
    }

    .main {
        height: auto;
    }

    .footer {
        height: auto;
    }
}

