
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.page2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-area:
    section1 section2
    section3 section4;
    padding: 20px;
    height: 100vh;
     /* border: 2px solid black; */
  
}

.section1 {
    grid-area: section1;
    background-color: lightblue;
   
}
.section2 {
    grid-area: section2;
    background-color: rgb(156, 144, 238);
  
}
.section3 {
    grid-area: section3;
    background-color: lightcoral;
  
}
.section4 {
    grid-area: section4;
    background-color: lightgoldenrodyellow;
  
}