
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.page2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
  
    padding: 20px;
    height: 100vh;
    text-align: center;
     border: 2px solid rgb(183, 74, 74);
   
  
  
}

.section1 {

    border: 1px solid var(--primary-color); 
}
.section2 {

    border: 1px solid var(--primary-color); 
}
.section3 {

    border: 1px solid var(--primary-color);

}
.section4 {

    border: 1px solid var(--primary-color);
  
}