.page3 {
    height: 100vh;
    /* border: 2px solid black; */
}

.video_container{
  display: grid;
  place-items: center; /* Centers both horizontally and vertically */
  border: 2px solid black;
 }

