<div class="page3">

    <div class="section1">
      
        <h2 class="subtitle2">
            I'm doing happpy, though sometime being happy is hard.
             I'alway remind my self that my name is Happy anyway
        </h2>
    </div>

    <div class="section2">
      <div class="video-wrapper">

         <youtube-player 
            videoId="qYNweeDHiyU"
            loadApi="true"
            class="responsive-player">
        </youtube-player>

      </div>
      
    </div>


        




    

    

        
  


</div>
